In [14]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([[1, 2, 3], [4, 5, 6]])

In [12]:
b = np.array(list(a), dtype=[('a', np.int32), ('b', np.int32), ('c', np.int32)])

In [15]:
pd.DataFrame(a, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

In [5]:
b['a']

array([[1, 2, 3],
       [4, 5, 6]])